<div class="container">
    <div class="row p-5">
      <h1><label for="profile">PROFILE INFORMATION</label></h1>
    </div>
        <form [formGroup] = "profileInfo" (ngSubmit)="handle()">
          <div class="row ps-5">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="name">NAME</label>
                <input type="text" placeholder="ENTER NAME" name="name" class="form-control" [class.is-invalid] = "profile['name'].invalid && profile['name'].touched" formControlName="name">
              </div>
              <div class="alert alert-danger" *ngIf="profile['name'].invalid && profile['name'].touched">
                <div *ngIf="profile['name'].errors && profile['name'].errors['required']">
                  Name is required
                </div>
                <div *ngIf="profile['name'].errors && profile['name'].errors['pattern']">
                  only character used
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="text" placeholder="ENTER EMAIL-ID" name="email" class="form-control" [class.is-invalid] = "profile['email'].invalid && profile['email'].touched" formControlName="email">
              </div>
              <div class="alert alert-danger" *ngIf="profile['email'].invalid && profile['email'].touched">
                <div *ngIf="profile['email'].errors && profile['email'].errors['required']">
                  Email is required
                </div>
                <div *ngIf="profile['email'].errors && profile['email'].errors['pattern']">
                  Invalid Email 
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="name">PASSWORD</label>
                <input type="password" placeholder="ENTER PASSWORD" name="pwd" class="form-control" [class.is-invalid] = "profile['password'].invalid && profile['password'].touched" formControlName="password">
              </div>
              <div class="alert alert-danger" *ngIf="profile['password'].invalid && profile['password'].touched">
                <div *ngIf="profile['password'].errors && profile['password'].errors['required']">
                  Password is required
                </div>
                <div *ngIf="profile['password'].errors && profile['password'].errors['minlength']">
                  at least 8 character or number required
                </div>
                <div *ngIf="profile['password'].errors && profile['password'].errors['pattern']">
                  at least one upper case or lower case or number and special character required 
                </div>
              </div>
            </div>
          </div>
  
          <div class="row ps-5 mt-5">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="dob">DATE OF BIRTH</label>
                <input type="date" placeholder="ENTER DATE OF BIRTH" name="dob" class="form-control" [class.is-invalid] = "profile['dob'].invalid && profile['dob'].touched" formControlName="dob">
              </div>
              <div class="alert alert-danger" *ngIf="profile['dob'].invalid && profile['dob'].touched">
                <div *ngIf="profile['dob'].errors && profile['dob'].errors['required']">
                  Date of birth is required
                </div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="form-group">
                  <label for="gender">GENDER</label>
                  <div class="d-flex">
                      <div class="form-check me-3">
                          <input type="radio" id="male" name="gender" class="form-check-input" formControlName="gender" value="male">
                          <label for="male" class="form-check-label">MALE</label>
                      </div>
                      <div class="form-check">
                          <input type="radio" id="female" name="gender" class="form-check-input" formControlName="gender" value="female">
                          <label for="female" class="form-check-label">FEMALE</label>
                      </div>
                  </div>
              </div> 
          </div>   
  
            <div class="col-lg-4">
              <div class="form-group">
                <label for="phone">MOBILE NO</label>
                <input type="text" placeholder="ENTER MOBILE NO" name="phone" class="form-control" [class.is-invalid] = "profile['phone'].invalid && profile['phone'].touched" formControlName="phone" >
              </div>
              <div class="alert alert-danger" *ngIf="profile['phone'].invalid && profile['phone'].touched">
                <div *ngIf="profile['phone'].errors && profile['phone'].errors['required']">
                  mobile number is required
                </div>
                <div *ngIf="profile['phone'].errors && profile['phone'].errors['pattern']">
                  at least 10 number is required
                </div>
              </div>
            </div>
          </div>
  
          <div class="row ps-5 mt-5">
  
            <div class="col-lg-4">
              <div class="form-group">
                <label>STATE</label>
                <select class="form-control" (change)="onChangeState($event)" [class.is-invalid] = "profile['state'].invalid && profile['state'].touched" formControlName="state">
                  <option value="" selected>Select One</option>
                  <option *ngFor="let state of stateInfo; let j = index" [value]="j+1">{{ state.StateName }}</option>
                </select>   
              </div>
              <div class="alert alert-danger" *ngIf="profile.state.errors && (profile.state.dirty || profile.state.touched)">
                <div *ngIf="profile['state'].errors && profile['state'].errors['required']">
                  State is required.
                </div>
              </div> 
            </div>
            
            <div class="col-lg-4" >
              <div class="form-group">
                <label>CITY</label>
                <select class="form-control" [(ngModel)]="selectedCityIndex" [class.is-invalid] = "profile['city'].invalid && profile['city'].touched" formControlName="city">
                    <option value=""  selected>Select One</option>
                  <option *ngFor="let city of cityInfo[selectedStateIndex]; let k = index" [value]="k">{{ city.name }}</option>
                </select>  
              </div>
              <div class="alert alert-danger" *ngIf="profile['city'].invalid && profile['city'].touched">
                <div *ngIf="profile['city'].errors && profile['city'].errors['required']">
                  City is required
                </div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="form-group">
                  <label for="hobbies">HOBBIES</label>
                  <div class="p-2">
                      <label *ngFor="let h of hobbies; let i = index;" class="me-3">
                          <input type="checkbox" (change)="onChange($event)" name="hobbies" class="form-check-input" [value]="h">
                          {{h}}
                      </label>
                  </div>
  
              </div>
            </div>
  
          </div>
  
          <br>
            <div class="col-lg-12 text-center mt-5">
              <button type="submit" class="btn btn-primary" [class.disabled] = "profileInfo.invalid">SUBMIT</button>
            </div>
  
        </form>
  </div>
